{% extends 'Users/base2.html' %} {% load crispy_forms_tags %} {% load static %}
{% load crispy_forms_tags %} {% block content %}

<div class="container" style="display: flex; margin-top: 20px">
  <div class="info" style="width: 50%">
    <div class="card" style="width: 18rem">
      <img
        src="{{ user.profile.profile_pic.url }}"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{user.first_name}}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>

        <ul>
          <li><li><a href="/user/profile/my_projects"><span class="fa fa-clipboard-list"></span> My Projects</a></li></li>
          <li><li><a href="/user/profile/my_donations"><span class="fa fa-donate"></span> My Donations</a></li></li>
          <li> <li><a href="/user/profile/delete" class="text-danger"><span class="fa fa-minus-circle text-danger"></span> Delete My Account</a></li></li>
        </ul>
        
      </div>
    </div>
  </div>

  <div class="update" style="width: 50%">
   
    <form method="POST">
        {% csrf_token %}
        <h2 class="title border-bottom pb-3">Delete My Account</h2>
        <div class="d-flex flex-column align-items-center">
            <div class="row mb-2">
                <i class="fa fa-times-circle fa-7x text-danger"></i>
            </div>
            <h4 class="text-dark">Are you sure?</h4>
            <div class=" row text-muted mb-2">
                <p >Do you really want to delete your account ? This process cannot be undone.</p>
            </div>
            <input class="btn btn-danger" type="submit" value="Delete">

        </div>
    </form>
  </div>
</div>

{% endblock content %}
