{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
<form action="" method="post" class="bg-light p-4 m-5 rounded">
    {% csrf_token %}
    <div class="container text-center mt-5 mb-5">
        <h1 class="align-middle align-self-center">Update User Data</h1>
    </div>
    <div class="row g-3">
        <div class="col">{{ form.first_name|as_crispy_field }}</div>
        <div class="col">{{ form.last_name|as_crispy_field }}</div>
    </div>
    <div class="col-12">
        <div class="col">{{ form.username|as_crispy_field }}</div>
    </div>
    <div class="col-12">
        <div class="col">{{ form.email|as_crispy_field }}</div>
    </div>
 <div class="row g-3">
        <div class="col">{{ form.password1|as_crispy_field }}</div>

        <div class="col">{{ form.password2|as_crispy_field }}</div>
    </div>
    <div class="col-12">
        <div class="col-6">{{ form.mobile_phone|as_crispy_field }}</div>
    </div>

    <button type="submit" class="btn btn-success">submit</button>
</form>
{% endblock content %}