{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-dark m-3">
    <div class="card p-3 w-50 bg-light-subtle m-auto">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <h4 class="text-center"> Are you want to report -{{object}}-?</h4>
            <button type="submit" class="btn btn-danger w-100">yes</button>
            <a href="{% url 'allprojects' %}" class="btn btn-primary w-100 mt-2"> Cancel </a>

        </form>

        <script src="{% static './js/script.js' %}"> </script>

    </div>
</div>

{% endblock %}