{% extends 'base.html' %}
{% load crispy_forms_tags%} 

{% load static %}
{% block content %}
<div class="text-dark m-3">
<div class="card p-3 w-50 bg-light-subtle m-auto">
     <h1 class="card-body text-center"> Add new Project</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    {{form|crispy}}
        {{pictureform|crispy}}
        <button type="submit" class="btn btn-outline-dark mt-2 w-100">Create</button>
    </form>
    <script src="{% static './js/script.js' %}"> </script>

</div>
</div>

{% endblock %}